.navbar {
  background: #004A80;
  padding: 20px 16px;
}

//add width and height to the lock-icon
.lock-icon{
  width: 16px;
  height: 19px;
  } 

//add width and height to the logo-icon
.logo-icon{
  width: 173px;
  height: 25px;
  }

//add width and height to the search-icon
.search-icon{
  width: 23px;
  height: 23px;
  }

//add width and height to the person-icon
.person-icon{
width: 20px;
height: 23px;
margin-left: 25px;
}
